<% layout('layouts/boilerplate') %>
<div class="container mt-5">
  <h1>About Us</h1>
  <div class="card" mb-3>
    <div class="row">
      <div class="col-md-4">
        <img src="/images/img3.jpg" alt="" class="img-fluid about-img" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title text-center">
            Kafiv Solid Construction Company Limited
          </h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
            voluptatibus, iure obcaecati consequuntur doloremque, pariatur,
            dolores ab illo eum omnis corporis. Nesciunt, alias quos dolorum
            rerum cum facere doloremque dicta. Nesciunt eveniet saepe, eligendi
            fuga magni dignissimos impedit, dolores, accusamus dolor quidem
            officiis eos veniam. Excepturi dolore magni vel quia illum rem nulla
            dolor ipsum dignissimos, delectus optio nemo recusandae. Rerum
            eligendi, non sit eaque ipsum doloribus laudantium aut fugit libero
            cupiditate numquam corporis molestias vero porro in quam error
            voluptas quasi sed officia velit adipisci repellendus. Pariatur,
            modi esse.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
