<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h3 class="alert-heading text-center"><%= err %></h3>
      <h3 class="alert-heading text-center"><%= err.stack %></h3>
      <hr />
      <h5 class="text-center">Please provide a valid data</h5>
    </div>
  </div>
</div>
