<% layout('layouts/boilerplate') %>
<div class="mt-0"></div>

<div class="hero-image mt-0">
  <div class="hero-text">
    <h1 class="mt-1">KAFIV</h1>
    <h3 class="mt-1">Construction Company</h3>
    <p></p>
    <a href="/register"
      ><button class="btn btn-light mt-4 fs-3 signup-btn">PROJECTS</button></a
    >
  </div>
</div>
<br />
<br />
<br />

<section class="boxes">
  <h1 class="text-center">What We Do</h1>
  <div class="container">
    <div class="box">
      <h2 class="text-center">
        <i class="fas fa-arrows-alt-v"></i>Alignment & Space
      </h2>
      <p class="text-center">
        A more efficient way to lay out, align and distribute space among items
        in a container Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Laudantium molestias sunt ducimus rem nostrum odio repudiandae porro
        minima omnis atque, placeat fuga et possimus enim quia. Odio nesciunt
        quo ullam?
      </p>
    </div>

    <div class="box">
      <h2 class="text-center">
        <i class="fas fa-arrows-alt"></i>Tricky Positioning
      </h2>
      <p class="text-center">
        Flexbox usually solves tricky problems including how to position or
        dynamically resize elements on a page Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Non repellat labore quia omnis hic sed
        quidem eligendi consequatur neque nulla. Repellendus magni pariatur
        provident nostrum error reprehenderit vel, commodi ducimus?
      </p>
    </div>

    <div class="box">
      <h2 class="text-center">
        <i class="fas fa-mobile"></i>Responsive Design
      </h2>
      <p class="text-center">
        Flexbox makes building a website layout (and making it responsive!)
        much, much easier Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Sapiente aspernatur voluptate praesentium perferendis? Accusantium
        eum veritatis iusto nihil sapiente aperiam minima reprehenderit
        excepturi, ex cumque, porro maiores, non aliquid molestias.
      </p>
    </div>
  </div>
</section>
