<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/gallery.css" />
<script src="/js/gallery.js" defer></script>
<h1 class="fs-1 text-center pd-2">Gallery Page</h1>

<div>
  <div class="container">
    <div class="row images">
      <div class="col-6 image">
        <img src="/images/img3.jpg" alt="" class="img-fluid" id="myImg" />
      </div>
      <div class="col-6 image">
        <img src="/images/img4.jpg" alt="" class="img-fluid" id="myImg" />
      </div>
      <div class="col-6 image">
        <img src="/images/img5.jpeg" alt="" class="img-fluid" id="myImg" />
      </div>
      <div class="col-6 image">
        <img src="/images/img7.jpeg" alt="" class="img-fluid" id="myImg" />
      </div>
      <div class="col-6 image">
        <img src="/images/img9.jpg" alt="" class="img-fluid" id="myImg" />
      </div>
      <div class="col-6 image">
        <img src="/images/img11.jpeg" alt="" class="img-fluid" id="myImg" />
      </div>
      <div class="col-6 image">
        <img src="/images/img10.jpeg" alt="" class="img-fluid" id="myImg" />
      </div>
      <div class="col-6 image">
        <img src="/images/img8.jpg" alt="" class="img-fluid" id="myImg" />
      </div>
      <div class="col-6 image">
        <img src="/images/img1.jpg" alt="" class="img-fluid" id="myImg" />
      </div>
      <div class="col-6 image">
        <img src="/images/img.jpg" alt="" class="img-fluid" id="myImg" />
      </div>
    </div>
  </div>
</div>
